src/main/app/unitedflightsfinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <flow name="unitedflightsfinalFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/unitedflightsfinal" doc:name="HTTP"/>
        <logger message="process started........." level="INFO" doc:name="Logger"/>
        <flow-ref name="unitedflightsfinalFlow1" doc:name="Flow Reference"/>
    </flow>
    <flow name="unitedflightsfinalFlow1">
        <http:request config-ref="HTTP_Request_Configuration" path="/essentials/united/flights" method="GET" doc:name="HTTP"/>
        <logger message="the result is #[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
